/ContractEmpRegistrationService.class
/EmployeeRegistrationSystem.class
/FullTimeEmpRegistrationService.class
/PartTimeEmpRegistrationSystem.class
/ParttimeEmpRegistrationService.class
/FulltimeEmpRegistrationService.class
/EmployeeRegistrationService.class
/PartTimeEmpRegistrationService.class
